
.container {
    text-align: center;
}

a {
   
    margin-right: 30px;
 
} 
a:hover {
    background: rgb(247, 247, 188);
    color: #4561F7;
}
ul {
    list-style-type: none;
}
.book_button{
    background: #36F135;
}
.book_button:hover{
    background: honeydew;
}

.form {

}

.form input {
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 40px;
}

.button {
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.confirmBtn {
    background: #36F135;
}

.confirmBtn:hover {
    background: rgb(247, 247, 188);
    color: #4561F7;
}
.discardBtn {
    background: #F1BDB7;
}

.discardBtn:hover {
    background: lightyellow;
    color: #4561F7;
}


.verification input {
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 40px;
}

.list {
    text-align: center;
}

ul {
    list-style-type: none;
}
ul li {
    background: #EBF3F9;  
    margin-top: 10px;  
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    margin-right: 30px;
    border-radius: 7px;
}
ul li:hover {
    background: #F0F0DC;
    border: 1px solid #8A97DC;
   
}

ul a {
    text-decoration: none;
    color: rgb(87, 126, 151);
}