<div  class="container">

  <div *ngIf="!showList" class="form" >

      <h3> To See the History, please enter Your Email </h3>
      <h4 *ngIf="isNotValid" style="color: red"> Fields are Mandatory! </h4>
      <br>
      <h2 style="color: red" *ngIf="codeIncorrect"> Code is Incorrect. Please try again </h2>
      
      <input type="email" pattern=".+@globex.com" size="30" required name="email" [(ngModel)]="email" placeholder="Enter Your Email"  />    
      <br>

      <input *ngIf="codeReceived" type="text" size="30" required name="code" [(ngModel)]="enteredCode" placeholder="Enter Security Code"  />    
      <br>

      <button *ngIf="!codeReceived" class="confirmBtn button" type="submit" (click)="onEmailEntered()">Enter Your Email</button>
      <br> 

      <button *ngIf="codeReceived" class="confirmBtn button" type="submit" (click)="onCodeEntered()">Confirm Email</button>
      <br>

      <button class="discardBtn button" type="submit" (click)="onDiscard()">Discard</button> 
    </div>



    <div *ngIf="showList" class="list">

        <h1> List of Tickets History for {{ email }}</h1>

        <h3> Search for Date</h3>

        <div class="select">

                <input type="date" name="departureDate"  [(ngModel)]="departureDateField"  />
           <!-- <select [(ngModel)]="selectedMonth" (change)="onMonthChosen($event)" >
                <option *ngFor="let m of months" [value]="m.name"> {{m.name}} </option>     
            </select>
  
            <select [(ngModel)]="selectedYear" (change)="onYearChosen($event)" >
                <option *ngFor="let y of years" [ngValue]="y.name"> {{y.name}} </option>     
            </select>-->
        </div>

        <ul>         
          <!--<li  *ngFor="let flight of filteredFlights"> -->
              <li  *ngFor="let ticket of tickets">  
              
              <div > 
                  <a> <!--</a> routerLink="/flight_details/{{flight.id}}">-->                
                  <!--<h3 class="flight_name">  Flight number : {{ flight.flightName }}</h3>-->
    
                      <table>
                          <thead>
                              <tr>
                                  <th> Ticket Type  </th>
                                  <th> Forward Departure Time</th>
                                  <th> Forward Arrival Time </th>
                                <!--  <th> Return Departure Time </th>
                                  <th> Return Departure Time </th> -->
                                  <th> Direct </th>
                                  <th> Price </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>{{ ticket.ticketType }}</td> <!-- | enter: departureCityField : i-->
                                  <td> {{ ticket.departureTimeTo | date }}</td>
                                  <td> {{ ticket.arrivalTimeTo | date }} </td>
                                <!--  <td> {{ ticket.departureTimeFrom | date }}</td>
                                  <td> {{ ticket.arrivalTimeFrom | date  }}</td> -->
                                  <td>
                                     <div style="color:green" *ngIf="ticket.isRound;else unset"> Yes</div> 
                                     <ng-template #unset>No </ng-template>
                                  </td>
                                  <td> {{ ticket.price }} </td>
                              </tr>
                          </tbody>
                      </table>
                  </a>
               </div>
          </li>
          
      </ul>

    </div>


</div>