<div  class="container">

  <div class="form" >

      <h3> To See the History, please enter Your Email </h3>
      <h4 *ngIf="isNotValid" style="color: red"> Fields are Mandatory! </h4>
      <br>
      
      <input type="email" pattern=".+@globex.com" size="30" required name="email" [(ngModel)]="email" placeholder="Enter Your Email"  />    
      <br>

      <button class="confirmBtn button" type="submit" (click)="onConfirm()">Enter Your Email</button>
      <br> 
      <button class="discardBtn button" type="submit" (click)="onDiscard()">Discard</button> 
    </div>
</div>