html,
body {

  background-color: gainsboro;

}


.container {
    width: auto;
    display: grid;
    /*grid-template-columns: auto auto;*/
    grid-auto-rows: auto;
    align-content: center;
    align-items: center

}


html, h1, h2{
    text-align: center;
    color: #0A4970;
}
 img {

    //margin-left: 18%;
    //border-radius: 15px;
    width: 100%;
    height: auto;

}
img:hover {
    border:3px solid #E5E43E;
}


@media only screen and (max-width: 400px) {

  .mobile {
      display: block;
  }
  .container {
      display: none;
  }

}
