.container {    
    display: grid;
    /*grid-template-columns: auto auto;*/
    grid-auto-rows: auto;
}
h1,h2{
    color: #0A4970;
}
img {
    border-radius: 15px;
}
img:hover {
    border:3px solid #E5E43E;
}
.welcome_image{
  
    height: 50%;

}
.welcome_text{
    text-align: center;
}