<div class="container">
    <div class="sidebar">
        <!--<app-sidebar></app-sidebar>-->

        <h3> Please use filters below to specify your choice</h3>

        <h5>Departure City :</h5>
        <input type="text" name="departureCityField" [(ngModel)]="departureCityField" (ngModelChange)="newInput($event)"/>

        <h5>Arrival City :</h5>
        <input type="text" name="arrivalCityField"  [(ngModel)]="arrivalCityField"/>

        <h5>Departure Date :</h5>
        <input type="date" name="departureDate"  [(ngModel)]="departureDateField"/>

        <h5>Arrival Date :</h5>
        <input type="date" name="arrivalDate"  [(ngModel)]="arrivalDateField"/>

        <h5>Direct :</h5>
        <input type="checkbox" checked="checked" name="isDirect"  [(ngModel)]="isDirect"/>

        <h5>Maximum price :</h5>
        <input type="text" name="priceField"  [(ngModel)]="priceField"/>
        
        <button class="btn btn-danger" type="submit" (click)="search()">Search</button>
    </div>

    <div class="flights_content">
            <div style="text-align: center">
            <h1 > Here is the list of all flights available </h1>   
        </div><br>

        <ul>         
            <li  *ngFor="let flight of flights$"> <!---->

                <div > <!--*ngIf="flight.departureCity == departureCityField" -->
                    <a routerLink="/details/{{flight.id}}">                
                    <h3 class="flight_name">  Flight number : {{ flight.flightName }}</h3>

                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Departure City
                                    </th>
                                    <th>
                                        Arrival City
                                    </th>
                                    <th>
                                        Departure Time
                                    </th>
                                    <th>
                                        Arrival Time
                                    </th>
                                    <th>
                                        Direct
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ flight.departureCity }}
                                    </td>
                                    <td>
                                        {{ flight.arrivalCity }}
                                    </td>
                                    <td>
                                        {{ flight.departureTime }}
                                    </td>
                                    <td>
                                        {{ flight.arrivalTime }}
                                    </td>
                                    <td>
                                       <div style="color:green" *ngIf="flight.direct;else unset"> Yes</div> 
                                       <ng-template #unset>No </ng-template>
                                    </td>
                                    <td>
                                        {{ flight.ticketPrice }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                 </div>
            </li>
            
        </ul>
    </div>
</div>
