.mobile {
    display: none;
}

.container {
    display: grid;
    //grid-template-columns: 15% auto;
    grid-template-columns: auto;
    width: 100%;
    height: auto;

}
.grid-container-top{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-height: 95px;
    margin-top: -20px;
}
.grid-container-bottom{
    display: grid;
    grid-template-columns: auto auto;
    max-height: 95px;
    padding-bottom: 40px;
    margin-top: -10px;
}

.grid-item{
    //padding-bottom: 30px;
    text-align: center;
    margin-top: 10px;
}
.grid-item h5 {
    font-weight: 700;
}
.sidebar{
    background: #C3CFD7;
   // border-right:2px solid #0A4970;
    text-align: center;
}

.header{
    background: #C3CFD7;
    border:1px solid #0A4970;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.left-el{
    float: left;
}
.heading {
    display: flex;
}
.welcomeText {
    transform: translateX(130px);
}

.grid-item input {
    margin-left: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 170px;
    height: 30px;

}
ul {
    list-style-type: none;
}
ul li {
    background: #EBF3F9;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    margin-right: 30px;
    border-radius: 7px;
}
ul li:hover {
    background: #F0F0DC;
    border: 1px solid #8A97DC;

}

ul a {
    text-decoration: none;
    color: rgb(87, 126, 151);
}
h1, h3, h5 {
    color: #0A4970;
    //padding: 10px;
    //text-align: center;
}

.flight_prop{
    float: left;
}
th {
    //margin-left: 50px;
    padding: 0px 30px 0 30px;
}
.flight_name{
    color: #4561F7;
}
button {
    margin-left: 31%;
    margin-top: 20px;
}
#unset{
   color: red;
}

.history {
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: lightskyblue;
}

button.history.button {
    color: black;
    font-weight: 700;
}

// MEDIA QUERIES FOR MOBILE

@media only screen and (max-width: 450px) {

    .container {
        display: none;

    }

    .mobile {
        display: block;
        height: 2000px;
    }


  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }

  h5 {
    float: left;

  }
  input {
    margin-top: 20px;
    margin-left: 10px;
  }
  .clearfix{
    clear: both;
  }

  li {
    width: 100%;
    transform: translateX(-30px);
  }

  th, td {
    padding: 0px 10px 0 0px;
    font-size: 8px;
  }
  .mobileText{
    text-align: center;
    color: #0A4970;
  }

  .mobileText button{
    text-align: center;
     
  }
}

